.margin {
	margin-left: 50px;
}
.center {
	float: center;
	font-family: Arial;
    margin: 0px;
}
.btnmrgn {
	margin-left: 10px;
	margin-top: 10px;
	padding: 10px;
}
#top {
	background-color: #007acc;
	border-bottom: 1px solid gray;
	padding: 10px;

}
/*osnovni dropdown do 68 retka*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdownbtn {
    background-color:#007acc;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: center;
    margin-left: 10px;
}
.dropdownbtn2 {
    background-color: white;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: center;
    margin-left: 10px;
    color: #333333;
    margin-top: 7px;
    margin-bottom: 7px;
}
.dropdown-content a {
    color:  black;
    padding: 6px 8px;
    display: block;
}
.dropdown-content a:visited {color: black;}
.dropdown-content a:hover {color: #cccccc;}

#title{
    color: white;
    font-family: Georgia;
}
.logos {
    height: 20px;
    width: 21px;
    padding: 0px;
}
.searchdiv {
    float: left;
    margin-left: 5px;

}
#src {
    color: white;
    font-family: Georgia;
}
a:link{
    color: white;

} 
a:hover {
    color: #cccccc;
     text-decoration: none;
}
a:visited {
    color: white;
}
